_build
/.texlive-var/
/.texlive-config/
/.texlive-home/
/main.acn
/main.aux
/main.bbl
/main.bcf
/main.blg
/main.fdb_latexmk
/main.fls
/main.glo
/main.ist
/main.log
/main.out
/main.run.xml
/main.toc
/main.pdf
/main-d.pdf
/article_main.blg
/.main-d.*.tex
/*.synctex.gz
